<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style type="text/css">
		.navbar {
    		border-radius: 0px;
    		min-height: 50px;
    		padding: 10px;
		}
		body{
			background :#ad5c5c;
		}
		p{
			font-size: 2rem;
		}
	</style>
</head>
<body>

	<% include partials/navbar.ejs %>
	

	<div class="container">

	  <div class="jumbotron" style="margin-top: 30px;">
	    <h1 style="color: red;font-family: arial;">Big Deals</h1> 
	    <p>When you have got Big Deals Flaunt it!!!!</p> 
	    <p>
	    	<img class="img-responsive" src="https://www.buymyjewellery.com/media/wysiwyg/shop.jpg" height="400px" width="720px"></p> 
	  </div>

	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</body>
</html>